@font-face {
   font-family: 'OMORI_GAME2';
   font-display: swap;
   src: url('file:///C:/Users/user/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-15_091317/fonts/OMORI_GAME2/font.ttf');
}
